* {
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.landing {
  background-color: #fafafa;
}

body.menubar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

body.landing .menubar , .wrapper{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
  max-width: 1440px;
  position: relative;
  display: flex;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}

.mainsection {
  position: relative;
  max-width: 1440px;
  height: 800px;
}

.mainsection div {
  width: 480px;
  height: 347px;
}

.mainsection h2 {
  font-size: 44px;
  line-height: 56px;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  margin-top: 98px;
}

.mainsection p {
  margin-top: 21px;
  font-size: 21px;
  line-height: 36px;
}

.center p {
  margin-top: 28px;
}

.center h2, .center p, .right h2, .right p {
  color: white;
}

.left {
  position: relative;
  width: 100%;
}

.left div {
  position: relative;
  height: 347px;
  left: 160px;
}

.right {
  position: relative;
  width: 100%;
  background-color: #879696;
}

.text {
  position: relative;
  height: 347px;
  right: -750px;
  top: 98px;
}

.pic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  left: 80px;
  top: -240px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  text-align: center;
  top: 98px;
  background-color: #879696;
}

.center div {
  position: relative;
  top: 150px;
  width: 760px;
}

#mockup1 {
  position: relative;
  top: -200px;
  right: -750px;
  width: 530px;
  height: 1200px;
  background-image: url(../images/about.png);
  background-size: cover;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
}

#mockup21 {
  position: relative;
  width: 140px;
  height: 317px;
  background-image: url(../images/about.png);
  background-size: cover;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
}

#mockup22 {
  position: relative;
  width: 140px;
  height: 395px;
  background-image: url(../images/works.png);
  background-size: cover;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
}

#mockup23 {
  position: relative;
  width: 140px;
  height: 474px;
  background-image: url(../images/work.png);
  background-size: cover;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
}

#mockup3 {
  position: relative;
  right: -620px;
  width: 760px;
  height: 403px;
  background-image: url(../images/screens.png);
  background-size: cover;
}

.block {
  position: relative;
  width: 30px;
  height: 4px;
  background-color: #50E3C2;
  top: 50px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  height: 50px;
}

a.button-flat {
  width: 300px;
  height: 50px;
  line-height: 50px;
  font-size: 17px;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #77FFE1;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}

a.button-link {
  width: 250px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  border-style: solid;
  text-align: center;
  text-decoration: underline;
  color: white;
}

.nav a {
  margin: 10px;
}
